*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */

:root{
  --col-01:#222323;
  --col-02:#f0f6f0;
  --col-03:#5252ff;
  --col-04:#b6e878;
}

body{
  background-color: var(--col-01); /* The background of the webpage is dark */
  color: var(--col-02); /* The writing is an off-white colour */
  padding: 2vw; /* There is padding between the boxes and the outer edge of the webpage */
}

a {
  color: var(--col-04); /* The links and licences are green */ 
  text-decoration: none; /* This gets rid of the underline */
}
a:hover {
  color: var(--col-03); /* When the links are hovered over they turn purple */
  text-decoration: underline; /* When the links are hovered over they have an underline */
}

hr {
  margin-bottom: 2vh; /* creates a bottom margin for anything in the hr tag*/
}

#list-filter-wrapper{
  display: flex; /* The filter items display is set to flex which means it can change proportions */
  flex-direction: column; 
}

.FilterCategoryWrapper{
  display: flex; 
  padding: 15px;
}

/* this is the filter category heading */
summary {
  font-size: 2rem;
  cursor: pointer;
}

.FilterSelector {
  font-size: 2rem; /* The filter titles are 2rem bigger than the set font size*/
  background-color: transparent; 
  color: var(--col-02); /* They're white */
  border: none; /* The is no border for the filters at the top */
  cursor: pointer; /* The cursor turns into a hand when you hover over the filters */
  text-align: center;
  width: 100%;
}
.FilterSelector:hover {
  color: var(--col-03); 
}  /* When you hover and click on a filter it turns purple */
.FilterSelector:active {
  color: var(--col-03);
}
.ActiveCategory {
  background-color: var(--col-02);
  color: var(--col-01); 
}


#recipe-list-wrapper{
  display: flex; /* The lists can change based on the size of the browser */
  gap: 2rem;
  flex-wrap: wrap;
}
.RecipeCardWrapper{
  min-height: 40rem; /* min-height is used instead of heightn so it can look beter on Google Chrome */
  padding: 2.2rem; /* This is the padding between the pictures and the box/border. */ 
  border: solid var(--col-02) 2px; /* The border is off-white and 2px thick */
  flex-grow: 1;
  display: flex; 
  flex-direction: column;
}
/* .RecipeCardWrapper:hover{
  border: dotted var(--col-02) 2px;
  cursor: pointer;
} */
.RecipeImg{
  object-fit: cover;
  width: 100%; /* The image size in the browser is 100% of the default image size*/
  height: 100%;
}
.RecipeTitle{
  font-size: 2rem; /* 2rem is bigger than the regular body text */
}
.RecipeAuthor{
  font-size: 1.5rem; /* 1.5rem is slightly smaller than 2rem */
}


/* for screens over 768px wide. chnages the website a little when it is being viewed on a larger screen */
@media all and (min-width: 768px) {
  
  hr {
    margin-bottom: 2vw; 
  }

  #list-filter-wrapper{
    flex-direction: row;
  }

  .FilterSelector {
    text-align: unset;
    width: unset;
  }
  
}
